.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  position: absolute;
  top: 20%;
  left: 20%;
  right: 20%;
  bottom: 20%;
  border-width: 2px;
  border-color: #cdf2c9;
  background: url("https://images.unsplash.com/photo-1464881522406-d5f66adb3e3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80")
    no-repeat center center fixed;
  background-size: cover;
  padding: 3rem;
}

body {
  background: url("https://images.unsplash.com/photo-1530064161350-7824b8cdeee9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80")
    no-repeat center center fixed;
  background-size: cover;
}

#root {
  height: 100vh;
}

.allContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-shadow: 0 0 5px #040f0f, 0 0 10px #040f0f, 0 0 15px #040f0f,
    0 0 20px #040f0f, 0 0 30px #424b54, 0 0 40px #424b54, 0 0 55px #96939b,
    0 0 75px #96939b;
}

.text-content-div {
  color: azure;
  max-height: max-content;
}

.header {
  color: azure;
  font-size: 3.5rem;
  font-family: "Amatic SC", cursive;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10%;
}

.form-section {
  text-align: center;
  margin-bottom: 5%;
  margin-left: 12%;
  margin-right: 12%;
  font-family: "Indie Flower", cursive;
}

.form-section-header {
  text-transform: uppercase;
  font-size: 1.7rem;
  padding: 2% 0;
}

.radios {
  margin-left: 5%;
  font-family: "Nunito", sans-serif;
  text-transform: capitalize;
}

.popup-text {
  color: azure;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Indie Flower", cursive;
  text-align: center;
}

p {
  line-height: 1.5;
  font-family: "Nunito", sans-serif;
}

.recipe-button {
  font-family: "Amatic SC", cursive;
  font-size: 1.5rem;
  font-weight: 700;
  color: azure;
  background-color: #d190cf;
  border: 2px solid white;
  padding: 15px;
  transition-duration: 0.4s;
  overflow: hidden;
}

.recipe-button:hover,
.modal-button:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px #97b1bf;
  color: #000;
}

.modal-button {
  font-weight: 700;
  color: azure;
  border: 2px solid white;
  font-family: "Amatic SC", cursive;
  background-color: #c42021;
  transition-duration: 0.4s;
  overflow: hidden;
}
